@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
/* Misc */

$vue-color: #46bd87;
$danger-color: #ea4d46;

/* Colors */
$primaryColor1: hsl(7, 99%, 70%);
$primaryColor2: hsl(51, 100%, 49%);
$primaryColor3: hsl(167, 40%, 24%);
$primaryColor4: hsl(198, 62%, 26%);
$primaryColor5: hsl(168, 34%, 41%);
$footerColor: hsl(168, 44%, 70%);

$neutralColor1: hsl(212, 27%, 19%);
$neutralColor2: hsl(213, 9%, 39%);
$neutralColor3: hsl(232, 10%, 55%);
$neutralColor4: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

/* Fonts */
$titleFont: 'Fraunces', serif;
$textFont: 'Barlow', sans-serif;

/* Navbar */

$navbar-height: 3.6rem;
$navbar-color: #fff;
$navbar-offline-color: #333;
$navbar-link-color: #2c3e50;
